table {
	&.table {
		width: 100%;
		tr {
			height: 32px;
			&.table__tr-active {
				td {
					color: @red;
					i {
						color: @red;
					}
				}
			}
		}
		td {
			position: relative;
		}
		.table {
			&__cbox {
				width: 40px;
				box-sizing: border-box;
				position: relative;
				padding: 0 10px;
				
				.cbox {
					padding: 0;
					margin: 0;
					width: 20px;
					height: 20px;

					&__label {
						padding: 0;
						margin: 0;
						
					}

				}
				.cbox + label {
					padding-left: 20px;
					&:before {
						width: 20px;
						height: 20px;
						top: -2px;
					}
				}
				.cbox:checked + label:after {
					font-size: 16px;
					left: 4px;
				}

			}
			&__down {
				position: absolute;
				right: 10px;
				top: 5px;
				width: 20px;
				height: 20px;
				i {
					font-size: 20px;
					color: @blue;
				}
				&-padding {
					padding-right: 40px;
				}
			}
			&__center {
				text-align: center;
			}
		}
	}
}
.table {
	&__sum {
		margin-top: -@sp;
		text-align: right;
		&-value {
			display: inline-block;
			border: 1px solid #d0d0d0;
			padding: 0 5px 0 4px;
			margin: 0 5px;
		}
	}
	&__scroll {
		width: 100%;
		overflow: auto;
		max-height: 227px;
		margin-bottom: @sp*2;
		&-icons {
			width: 100%;
			overflow: auto;
			max-height: 245px;
			margin-bottom: @sp*2;
		}
	}
	&__persent {
		width: 100px;
	}
	&__close {
		width: 20px;
		height: 20px;
		
		background: url(../img/close-blue.png) no-repeat;
		border: 1px solid #d0d0d0;
		border-radius: 2px;
		cursor: pointer;
		background-position: -1px -1px;

		&:hover {
			background: url(../img/close-red.png) no-repeat;
			background-position: -1px -1px;
		}
	}
	&__td-btns {
		width: 10px;
		white-space: nowrap;
	}
	&__btns {
		
		div {
			width: 20px;
			height: 20px;
			
			text-align: center;
			color: @blue;
			border: 1px solid #d0d0d0;
			border-radius: 2px;
			cursor: pointer;
			display: inline-block;
			background-position: -1px -1px;
			&:hover {
				background-position: -1px -1px;
			}


		}
		&-tubes {
			background: url(../img/tubes-blue.png) no-repeat;
			&:hover {
				background: url(../img/tubes-red.png) no-repeat;
			}
		}
		&-copy {
			background: url(../img/copy-blue.png) no-repeat;
			&:hover {
				background: url(../img/copy-red.png) no-repeat;
			}
		}
		&-plus {
			background: url(../img/plus-blue.png) no-repeat;
			&:hover {
				background: url(../img/plus-red.png) no-repeat;
			}
		}
	}
}
